<script lang="ts">
	import { goto } from '$app/navigation';
	import { session } from '$app/stores';

	let email = 'admin@maxp.eu';
	let password = 'codingaustria';

	const handleLogin = async () => {
		const response = await fetch('/api/login', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				email,
				password
			})
		});

		const json = await response.json();

		$session = json;

		await goto('/jobs');
	};
</script>

<div class="min-h-full flex">
	<div
		class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 w-5/12"
	>
		<div class="mx-auto w-full max-w-sm lg:w-96">
			<div>
				<p href="#" class="flex items-center gap-2 text-2xl font-medium">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
						alt="E-POINTS Logo"
					/>
					E-POINTS
				</p>
				<h2 class="mt-6 text-3xl font-extrabold text-gray-900">Jetzt Anmelden<br />und helfen!</h2>
			</div>
			<div class="mt-6">
				<form on:submit|preventDefault={handleLogin}>
					<div>
						<label for="email" class="block text-sm font-medium text-gray-700">
							Email-Adresse
						</label>
						<div class="mt-1">
							<input
								bind:value={email}
								type="email"
								placeholder="Email-Adresse"
								id="email"
								required
								name="email"
								autocomplete="email"
								class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
							/>
						</div>
					</div>
					<div class="space-y-1">
						<label for="password" class="block text-sm font-medium text-gray-700"> Passwort </label>
						<div class="mt-1">
							<input
								bind:value={password}
								type="password"
								placeholder="Passwort"
								id="password"
								required
								name="password"
								autocomplete="current-password"
								class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
							/>
						</div>
						<div class="flex items-center justify-between">
							<div class="flex items-center">
								<input
									id="remember-me"
									name="remember-me"
									type="checkbox"
									class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
								/>
								<label for="remember-me" class="ml-2 block text-sm text-gray-900">
									Erinnere dich an mich
								</label>
							</div>
							<div>
								<button
									type="submit"
									class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
									>Einloggen</button
								>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="hidden lg:block relative w-0 flex-1">
		<img class="absolute inset-0 h-full w-full object-cover" src="/login-image.jpg" alt="" />
	</div>
</div>
