<script lang="ts">
	import type { Reward } from '../../model/reward';
	import { DIRECTUS_PATH } from '$lib/client';
	import { goto } from '$app/navigation';
	export let reward: Reward;
</script>

<div class="group relative mb-12">
	<div
		class="cursor-pointer relative w-full h-96 rounded-lg overflow-hidden group-hover:opacity-75"
		on:click={() => goto(`/rewards/${reward.id}`)}
	>
		<img
			src={`${DIRECTUS_PATH}/assets/${reward.img}`}
			class="w-full h-full object-center object-cover"
			alt={reward.title}
		/>
		<div
			class="absolute rounded-full bottom-0 right-0 px-4 m-4 flex flex-col items-center justify-center aspect-square bg-indigo-600 mt-1 text-white min-w-[4rem] shadow-lg"
		>
			{reward.price}
			<div class="text-xs">
				<span class="font-medium">G</span>'s
			</div>
		</div>
	</div>
	<h3 class="mt-4 text-base font-semibold text-gray-900">
		<a href="/rewards/{reward.id}"> {reward.title} </a>
	</h3>
</div>
