<script lang="ts" context="module">
	export const load = async ({ session }) => {
		if (!session.jwt) {
			return {
				status: 302,
				redirect: '/login'
			};
		}
	};
</script>

<script lang="ts">
	import type { ID } from '@directus/sdk';

	import type { JobApplication } from 'src/model/job';
	import { onMount } from 'svelte';
	import JobApplicationComponent from './JobApplicationComponent.svelte';
	import { profile } from '../../stores';

	let jobApplications: JobApplication[] = [];

	onMount(async () => {
		const response = await fetch('/api/projects', {
			credentials: 'include'
		});
		jobApplications = await response.json();
	});
</script>

<div class="bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
		{#each jobApplications || [] as jobApplication}
			<li>
				<JobApplicationComponent job={jobApplication.jobs_id} status={jobApplication.status} />
			</li>
		{/each}
	</ul>
</div>
