<script lang="ts">
	import type { ID } from '@directus/sdk';
	import type { Job } from 'src/model/job';
	import { onMount } from 'svelte';
	import JobImage from '../../components/jobs/JobImage.svelte';

	export let status: string;
	export let job: Job;

	const messages: { [key: string]: string } = {
		pending: 'noch in bearbeitung',
		approved: 'angenommen',
		declined: 'Hilfe diesmal nicht benötigt'
	};
</script>

{#if !job}
	Loading...
{:else}
	<a href={`/jobs/${job.id}`} class="block hover:bg-gray-50">
		<div class="flex items-center px-4 py-4 sm:px-6">
			<div class="min-w-0 flex-1 flex items-center">
				<div class="flex-shrink-0">
					<JobImage imageId={job.img} />
				</div>
				<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
					<div>
						<p class="text-sm font-medium text-indigo-600 truncate">{job.title}</p>
						<p class="mt-2 flex items-center text-sm text-gray-500">
							<span class="truncate">{@html job.description || ''}</span>
						</p>
					</div>
					<div class="hidden md:block">
						<div class="flex">
							<div
								class="w-2 h-2 rounded-full mt-1 mr-1"
								class:bg-green-500={status === 'approved'}
								class:bg-gray-500={status === 'pending'}
								class:bg-red-500={status === 'declined'}
							/>
							<div class="text-xs">{messages[status]}</div>
						</div>
					</div>
				</div>
			</div>
			<div />
		</div>
	</a>
{/if}
