<script context="module">
	export const load = async ({ session }) => {
		// console.log({ session: session });
		if (!session.jwt) {
			return {
				status: 302,
				redirect: '/login'
			};
		}
	};
</script>

<script lang="ts">
	import type { Transaction } from 'src/model/ledger';
	import { onMount } from 'svelte';

	let transactions: Transaction[] = [];

	onMount(async () => {
		const response = await fetch('/api/transactions', {
			credentials: 'include'
		});
		transactions = await response.json();
		// console.log({ transactions });
	});
</script>

<div class="overflow-hidden rounded shadow">
	{#each transactions as transaction}
		<div class="p-4 flex">
			<div>
				<h3>{transaction.title}</h3>
				<div class="text-sm text-gray-500">
					{new Date(transaction.date_created).toLocaleDateString('de-AT', {
						day: '2-digit',
						month: 'short',
						year: 'numeric',
						hour: '2-digit',
						minute: '2-digit'
					})}
				</div>
			</div>
			<div class="ml-auto">
				<span
					class="font-medium {Number(transaction.amount) > 0 ? 'text-green-500' : 'text-red-500'}"
				>
					{transaction.amount}
				</span>
				E-Points
			</div>
		</div>
	{/each}
</div>
<!-- <button on:click={async () => add()}>add</button> -->
