<script lang="ts">
	import { page } from '$app/stores';
	import { DIRECTUS_PATH } from '$lib/client';
	import { onMount } from 'svelte';
	import type { Reward } from '../../model/reward';
	import { profile } from '../../stores';

	let reward: Reward = {};
	let loading = false;
	let success = false;
	let epoints = 5000;
	const rewardId = $page.params.id;

	const redeem = async () => {
		try {
			loading = true;
			const response = await fetch(`/api/rewards/redeem`, {
				method: 'POST',
				credentials: 'include',
				body: JSON.stringify({
					rewardId: reward.id
				})
			});
			if (response.ok) {
				success = true;
				$profile.balance -= reward.price || 0;
			}
		} finally {
			loading = false;
		}
	};

	onMount(async () => {
		const response = await fetch(`/api/rewards/${rewardId}`, {
			credentials: 'include'
		});
		// reward = (await response.json())?.reward || {};
		reward = await response.json();
	});
</script>

<div class="flex gap-4">
	<img
		src={`${DIRECTUS_PATH}/assets/${reward.img}`}
		class="object-center object-cover aspect-[2/3] rounded-xl w-1/4"
		alt={reward.title}
	/>

	{#if success}
		<div class="flex flex-col gap-4 mt-8 justify-center">
			<span class="text-xl"> Viel Spaß bei </span>
			<h2 class="text-2xl font-medium">
				{reward.title}
			</h2>
			<p class="text-gray-700">Weitere Informationen zu deiner Belohnung erhältst du per E-Mail.</p>
			<p class="text-gray-700">
				Dein neuer Punktestand beträgt {epoints - (reward.price || 0)} E-Points.
			</p>
		</div>
	{:else}
		<div class="flex flex-col gap-4 mt-8">
			<h2 class="text-2xl font-medium">
				{reward.title}
			</h2>
			<span class="text-xl">
				{reward.price} E-Points
			</span>
			<p class="text-gray-700">Du hast derzeit {epoints} E-Points verfügbar.</p>
			<p>
				{@html reward.description}
			</p>

			<button
				type="button"
				class="mr-auto inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				on:click|preventDefault={redeem}
				class:animate-pulse={loading}
			>
				Ich will das haben
			</button>
		</div>
	{/if}
</div>
