<script context="module">
	export const load = async ({ session }) => {
		if (!session.jwt) {
			return {
				status: 302,
				redirect: '/login'
			};
		}
	};
</script>

<script lang="ts">
	import RewardCard from '../../components/rewards/RewardCard.svelte';
	import { onMount } from 'svelte';
	import type { Reward as IReward } from '../../model/reward';

	let rewards: IReward[];

	onMount(async () => {
		const response = await fetch('/api/rewards', {
			credentials: 'include'
		});

		rewards = (await response.json())?.rewards || [];
	});
</script>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
	<div class="mt-6 grid grid-cols-1 sm:grid-cols-3 sm:gap-6 lg:gap-8 lg:gap-y-0">
		{#each rewards || [] as reward}
			<RewardCard {reward} />
		{/each}
	</div>
</div>
