<script>
	import Navigation from './Navigation.svelte';
</script>

<div class="relative bg-white overflow-hidden h-full">
	<div class="max-w-7xl mx-auto h-full flex">
		<div
			class="relative z-10 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full flex flex-col justify-center "
		>
			<svg
				class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
				fill="currentColor"
				viewBox="0 0 100 100"
				preserveAspectRatio="none"
				aria-hidden="true"
			>
				<polygon points="50,0 100,0 50,100 0,100" />
			</svg>
			<Navigation />

			<main
				class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
			>
				<div class="sm:text-center lg:text-left">
					<h1 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-5xl">
						<span class="block xl:inline">Hilf deiner Gemeinde</span><br />
						<span class="block text-indigo-600 xl:inline">und werde dafür belohnt</span>
					</h1>
					<p
						class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
					>
						Mit E-Points kannst du einfache ehrenamtliche Aufgaben in deiner Gemeinde erledigen und
						Punkte sammeln. Nutze diese Punkte für viele Punkte für Belohnungen, auch in anderen
						Gemeinden!
					</p>
					<div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
						<div class="rounded-md shadow">
							<a
								href="/login"
								class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"
							>
								Log dich ein und hilf mit!
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
		<img
			class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
			src="/hero-image.jpg"
			alt=""
		/>
	</div>
</div>
