<div class="relative pt-6 px-4 sm:px-6 lg:px-8">
	<nav
		class="relative flex items-center justify-between sm:h-10 lg:justify-start"
		aria-label="Global"
	>
		<div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
			<div class="flex items-center justify-between w-full md:w-auto">
				<a href="#" class="flex items-center gap-2 text-2xl font-medium">
					<img
						alt="Workflow"
						class="h-8 w-auto sm:h-10"
						src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
					/>

					E-Points
				</a>
			</div>
		</div>
	</nav>
</div>
