<script lang="ts">
	import JobImage from './JobImage.svelte';
	import type { Job } from '../../model/job';
	import { profile } from '../../stores';
	import { createEventDispatcher } from 'svelte';

	export let job: Job;
	const dispatch = createEventDispatcher();

	function getDescription(description: string | undefined) {
		if (!description) {
			return '';
		}
		return description.replace(/(<([^>]+)>)/gi, '');
	}

	async function applyToJob(job: Job) {
		await fetch(`/api/jobs/${job.id}`, {
			method: 'POST',
			body: JSON.stringify(job),
			credentials: 'include'
		});
		dispatch('reload');
	}
</script>

{#if !job.applications.map((a) => a.users_id).includes($profile.id)}
	<li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
		<div class="w-full flex items-center justify-between p-6 space-x-6">
			<div class="flex-1 truncate">
				<div class="flex items-center space-x-3">
					<h3 class="text-gray-900 text-sm font-medium truncate">{job.title}</h3>
				</div>
				<p class="mt-1 text-gray-500 text-sm truncate">{@html getDescription(job.description)}</p>
			</div>

			<!-- todo -->
			<JobImage imageId={job.img} />
		</div>
		<div>
			<div class="-mt-px flex divide-x divide-gray-200">
				<div class="w-0 flex-1 flex">
					<a
						href="/jobs/{job.id}"
						class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-5 text-gray-400"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
							/>
						</svg>
						<span class="ml-3">Details</span>
					</a>
				</div>
				<div class="-ml-px w-0 flex-1 flex">
					<span
						on:click={async () => applyToJob(job)}
						class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500 cursor-pointer"
					>
						<svg
							class="w-5 h-5 text-gray-400"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
							<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
						</svg>

						<span class="ml-3">Bewerben</span>
					</span>
				</div>
			</div>
		</div>
	</li>
{/if}
