<script lang="ts">
	import { page } from '$app/stores';
	import type { Job } from 'src/model/job';
	import { onMount } from 'svelte';
	import JobDetailImage from './JobDetailImage.svelte';
	import { profile } from '../../stores';
	import { DIRECTUS_PATH } from '$lib/client';

	let job: Job;

	onMount(async () => {
		try {
			await fetchData();
		} catch (error) {}
	});

	async function fetchData() {
		const response = await fetch(`/api/jobs/${$page.params.id}`, {
			credentials: 'include'
		});
		job = await response.json();
	}

	async function applyToJob() {
		await fetch(`/api/jobs/${job.id}`, {
			method: 'POST',
			body: JSON.stringify(job),
			credentials: 'include'
		});
		window.location = '/jobs';
	}
</script>

{#if !job}
	Loading...
{:else}
	<div class="bg-white shadow overflow-hidden sm:rounded-lg flex">
		<div
			class="w-1/4 bg-cover bg-center"
			style:background-image={`url(${DIRECTUS_PATH}/assets/${job.img})`}
		/>

		<!-- <JobDetailImage imageId={job.img} /> -->
		<div class="flex-grow">
			<div class="px-4 py-5 sm:px-6">
				<h3 class="text-lg leading-6 font-medium text-gray-900">Job Information</h3>
				<p class="mt-1 max-w-2xl text-sm text-gray-500">Zusätzliche details and Bewerbung.</p>
			</div>
			<div class="border-t border-gray-200">
				<dl>
					<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Titel</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{job.title}</dd>
					</div>
					<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Beschreibung</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{@html job.description || ''}
						</dd>
					</div>
					<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Addresse</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{job.address || ''}</dd>
					</div>
					<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">E-Points</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{job.reward || ''}</dd>
					</div>
					<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Beginn</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{new Date(job.job_start).toLocaleDateString('de-de')}
						</dd>
					</div>
					<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Ende</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{new Date(job.job_end).toLocaleDateString('de-de')}
						</dd>
					</div>
					<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">Ende der Bewerbungsfrist</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{new Date(job.application_deadline).toLocaleDateString('de-de')}
						</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
{/if}
{#if !!job && !job.applications.map((a) => a.users_id).includes($profile.id)}
	<button
		type="button"
		on:click={async () => applyToJob()}
		class="mr-auto mt-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
	>
		Ich will das machen
	</button>
{:else}
	<button
		type="button"
		disabled={true}
		on:click={async () => applyToJob()}
		class="mr-auto mt-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
	>
		Beworben
	</button>
{/if}
