<script context="module">
	export const load = async ({ session }) => {
		if (!session.jwt) {
			return {
				status: 302,
				redirect: '/login'
			};
		}
	};
</script>

<script lang="ts">
	import type { Job } from 'src/model/job';

	import { onMount } from 'svelte';
	import JobCard from '../../components/jobs/JobCard.svelte';

	let jobs: Job[] = [];

	onMount(async () => {
		await fetchData();
	});

	async function fetchData() {
		const response = await fetch('/api/jobs', {
			credentials: 'include'
		});
		jobs = (await response.json()).jobs;
	}
</script>

<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
	{#each jobs || [] as job}
		<JobCard on:reload={async () => await fetchData()} {job} />
	{/each}
</ul>
