<script>
	import { page } from '$app/stores';

	export let path = '';
</script>

<a
	href={path}
	class:bg-gray-200={$page.url.pathname === path}
	class=" text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md"
>
	<div class="mr-4">
		<slot name="icon" />
	</div>
	<slot />
</a>
