<script>
	import Briefcase from '../icons/Briefcase.svelte';
	import Cash from '../icons/Cash.svelte';
	import Gift from '../icons/Gift.svelte';
	import NavigationLink from './NavigationLink.svelte';
	import { profile } from '../../stores';
</script>

<div class="hidden lg:flex lg:flex-shrink-0">
	<div class="flex flex-col w-64">
		<!-- Sidebar component, swap this element with another sidebar if you like -->
		<div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-gray-100">
			<div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
				<div class="flex items-center flex-shrink-0 px-4">
					<p href="#" class="flex items-center gap-2 text-2xl font-medium">
						<img
							class="h-12 w-auto"
							src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
							alt="E-POINTS Logo"
						/>
						E-POINTS
					</p>
				</div>
				<nav class="mt-5 flex-1" aria-label="Sidebar">
					<div class="px-2 space-y-1">
						<NavigationLink path="/jobs">
							<Cash slot="icon" />
							Alle Jobs
						</NavigationLink>

						<NavigationLink path="/projects">
							<Briefcase slot="icon" />
							Deine Projekte
						</NavigationLink>

						<NavigationLink path="/rewards">
							<Gift slot="icon" />

							Belohnungen
						</NavigationLink>
					</div>
				</nav>
			</div>
			<div class="flex-shrink-0 flex border-t border-gray-200 p-4">
				<a href="/transactions" class="flex-shrink-0 w-full group block">
					<div class="flex items-center">
						<div>
							<img
								class="inline-block h-9 w-9 rounded-full"
								src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
								alt=""
							/>
						</div>
						<div class="ml-3">
							<p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
								{$profile?.first_name}
								{$profile?.last_name}
							</p>
							<p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
								{$profile?.balance}
								E-Points
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
